<div class="jumbtron">
    <h1 class="display-4 text-center">Factura</h1>
    <hr>
    
       
        <div class="col-md-7">
            <h6 class="text-center">Listado de Factura</h6>
            <app-factura-list></app-factura-list>
        </div>
        <div class="row">
        <div class="col-md-5">
            <h6 class="text-center">Factura</h6>
            <app-factura></app-factura>
        </div>
        
        <div class="col-md-5">
            <h6 class="text-center">Detalle</h6>
            <app-detalle></app-detalle>
        </div>
    </div>
        
       

</div>
